<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>My Resume</title>
    <style>
        body {
        background-color: #F2F2F2;
        }
    </style>
    <style>
        .center {
        margin: auto;
        width: 60%;
        border:1px solid #D8D8D8;
        padding: 10px;
        }
    </style>

</head>
<body>
<div class="center">
    <article class="markdown-body entry-content">
        <h2><a id="user-content-联系方式" class="anchor" href="#联系方式"
               aria-hidden="true"><span
                class="octicon octicon-link"></span></a>联系方式
        </h2>

        <ul>
            <li>MTUyLTM5NTctMzAzMQ== (河南漯河)</li>
            <li>
                <a href="mailto:dagger11263@gmail.com">dagger11263@gmail.com</a>
            </li>
            <li><a href="mailto:dagger126@126.com">dagger126@126.com</a>
            </li>
        </ul>

        <h2><a id="user-content-个人信息" class="anchor" href="#个人信息"
               aria-hidden="true"><span
                class="octicon octicon-link"></span></a>个人信息
        </h2>

        <ul>
            <li>5aiE6aG65Yip / 男 / 1986.06</li>
            <li>高中学历</li>
            <li>Github: <a href="http://github.com/dagger178">http://github.com/dagger178</a>
            </li>
            <li>期望职位: Python 初级开发工程师 / Android 初级开发工程师</li>
            <li>期望薪水: 3k - 4k</li>
        </ul>

        <h2><a id="user-content-项目作品" class="anchor" href="#项目作品"
               aria-hidden="true"><span
                class="octicon octicon-link"></span></a>项目作品
        </h2>

        <h3><a id="user-content-webapp" class="anchor" href="#webapp"
               aria-hidden="true"><span
                class="octicon octicon-link"></span></a><a
                href="http://github.com/dagger178/webApp">webApp</a>
        </h3>

        <p>一个微型的python web框架, 使用的IDE为Pycharm, 开发周期为12天</p>

        <p>数据库使用python内置的sqlite3, 前端页面为jinja2模板引擎+bootstrap生成,
            服务器端采用nginx+uwsgi</p>

        <p>实现了基本的ORM, MVC, 视图中实现了一个简单的博客系统</p>

        <p>实现了用户的注册,登录,以及博客的增加,更新,删除, 图片的上传,下载功能</p>

        <h3><a id="user-content-s1_plus" class="anchor" href="#s1_plus"
               aria-hidden="true"><span
                class="octicon octicon-link"></span></a><a
                href="http://github.com/dagger178/S1_Plus">S1_Plus</a>
        </h3>

        <p>Saraba1st论坛的安卓客户端, 使用的IDE为IntelliJ IDEA 14, 开发周期为14天</p>

        <p>网络通信使用 Asynchronous Http Client 实现, 图片下载采用 Volley</p>

        <p>图片缓存为 LruCache + DiskLruCache 的双重缓存</p>

        <p>使用 Jsoup分析返回的网络请求, 应用实现了浏览论坛的大部分功能</p>

        <h2><a id="user-content-代码风格及算法相关" class="anchor"
               href="#代码风格及算法相关"
               aria-hidden="true"><span
                class="octicon octicon-link"></span></a>代码风格及算法相关
        </h2>

        <p>平时书写python严格遵守PEP8, 熟悉基础常用的算法, 在leetcode上有370+up votes</p>

        <p>代码风格及算法水平请参考<a href="http://github.com/dagger178">My
            Github</a>及</p>

        <ul>
            <li><a href="http://leetcode.com/discuss/user/tusizi">http://leetcode.com/discuss/user/tusizi</a>
            </li>
            <li><a href="http://leetcode.com/discuss/search?q=tusizi">http://leetcode.com/discuss/search?q=tusizi</a>
            </li>
        </ul>

        <p>另外完成了checkio的大部分题目(170+)</p>

        <h2><a id="user-content-自学经历" class="anchor" href="#自学经历"
               aria-hidden="true"><span
                class="octicon octicon-link"></span></a>自学经历
        </h2>

        <ul>
            <li>2013年10月辞职, 2014.03.26开始在codecademy学习python2.7基础语法</li>
            <li>5月底在checkio完成了大部分习题, 掌握了一些朴素算法及部分图的搜索算法</li>
            <li>6月初开始学习django, flask, 6月底用 Tkinter + sqlite3
                写了一个GUI版本的在线词典
            </li>
            <li>7月 使用Requests + Selenium + BeautifulSoup
                模拟了bilibili的登录过程
            </li>
            <li>7月底 尝试了scrapy爬虫框架, 爬取了checkio的全部题目</li>
            <li>8月 pythonchallenge通关, 接触了Pillow, bz2, pickle,
                zipfile等module
            </li>
            <li>9月 尝试了一下 pygame 及 pyqt</li>
            <li>10月 重新学习python3.4, 看完了大部分python标准库的文档,
                重构了checkio所有习题的代码
            </li>
            <li>2015年1月 开始在leetcode刷题来学习Java语法,基本数据结构,一些高级算法</li>
            <li>3月 通过第一行代码来学习Android, 重写了教程最后的项目, 自己实现了一个简单的备忘应用</li>
            <li>5月 不小心得了咽炎, 养病期间玩了一段时间的暗黑3</li>
            <li>6月底 读郭霖的博客, 写一些Android的练习代码</li>
            <li>7月至现在 完成webApp, S1_plus两个项目, 购买了VPS,域名, 部署webApp,
                开始应聘
            </li>
            <li>未来打算继续学习Linux, 操作系统原理, 设计模式, JavaScript, 了解一些通信协议相关知识</li>
        </ul>

        <h2><a id="user-content-感谢您看到最后" class="anchor" href="#感谢您看到最后"
               aria-hidden="true"><span
                class="octicon octicon-link"></span></a>感谢您看到最后
        </h2>
    </article>
</div>
</body>
</html>
